.row.wrapper {
    width: auto;
    position: relative;
} /*bg-dark nav-bk3*/
.bg-dark {
    background: #00f260 !important;
    background: -webkit-linear-gradient(to right, #003865, #0575e6, #00f260) !important;
    background: linear-gradient(to right, #003865, #0575e6, #00f260) !important;
    transition: color 2s ease 2s;
}
.sticky {
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 0;
}
@media only screen and (max-width: 575px) {
    .sticky {
        position: -webkit-fixed !important;
        position: fixed !important;
        top: 0px;
        right: 0;
        left: 0;
        z-index: 1030;
        background: #00f260 !important;
        background: -webkit-linear-gradient(to right, #003865, #0575e6, #00f260) !important;
        background: linear-gradient(to right, #003865, #0575e6, #00f260) !important;
        transition: color 2s ease 2s;
    }
}
.move {
    background: #00f260 !important;
    background: -webkit-linear-gradient(to right, #003865, #0575e6, #6ab4ff, #ffffff) !important;
    background: linear-gradient(to right, #003865, #0575e6, #6ab4ff, #ffffff) !important;
    z-index: 2;
    transition: color 2s ease 2s;
}
aside.col-12.col-sm-3.p-0.bg-dark.sticky {
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 0;
    /*		position: absolute !important;*/
}
.nav-bk3 {
    background: #00f260;
    background: -webkit-linear-gradient(to right, #003865, #0575e6, #00f260);
    background: linear-gradient(to right, #003865, #0575e6, #00f260);
    transition: color 2s ease 2s;
}
a.navbar-brand {
    font-size: 0.9em;
    font-weight: bold;
    text-transform: uppercase;
}
a.nav-link.pl-0 {
    border-bottom: 1px solid #fff;
}
li#subheading {
    font-size: 0.8em;
    font-weight: bold;
    text-align: center;
}
a.nav-link.pl-0 {
    color: #000;
}
ul.codelist li {
    list-style-type: none;
    position: relative;
    padding-top: 4px;
    padding-bottom: 4px;
}
ul.codelist li:before {
    position: absolute;
    color: #555;
    top: 2px;
    left: -30px;
    font-family: "Font Awesome 5 Free";
    content: "\f105";
    font-size: 1.2em;
    font-weight: 900; /* <-- add this */
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
span {
    color: #fff;
}
/*code{
    font-size: 3.8em ;
    color: #e83e8c;
    word-break: break-word;
}*/
code {
    font-size: 87.5%;
    color: rgb(0, 0, 0);
    word-break: break-word;
}
samp {
    font-size: 2 em;
}
pre {
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono,
        Courier New, monospace, serif;
    margin-bottom: 10px;
    overflow: auto;
    width: auto;
    padding: 5px;
    background-color: #eee;
    width: 650px !important;
    padding-bottom: 20px !important;
    max-height: 600px;
    z-index: 50;
}
