<!-- <div class="row"> -->
   <section>
   <div class="col-md-12">
      <b>{{titleDetails.title}}</b>
   </div>
   <div class="col-md-12">
      {{titleDetails.quote}}
   </div>
</section>
   <div class="col-md-12">
      {{titleDetails.tip}}
   </div>
   <div class="col-md-12">
      {{titleDetails.why}}
   </div>
   <div class="col-md-12">
      {{titleDetails.what}}
   </div>
   <div class="col-md-12">
      {{titleDetails.how}}
   </div>
   <div class="col-md-12">
      {{titleDetails.how}}
   </div>
   <div class="col-md-12">
      {{titleDetails.date}}
   </div>
<!-- </div> -->